/* styles/Dashboard.module.css */

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .phone {
    margin-bottom: 1rem;
  }